# Flutter build outputs
build/
*.class
*.lock
*.log

# Android Studio
.idea/
*.iml
*.ipr
*.iws
.gradle/
local.properties

# VS Code
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock
tools/flutter/
tools/flutter_linux_*.tar.xz

# Files
*.pyc
*.swp
*.DS_Store
